@model MSS_DEMO.Models.CertificateViewModel
@{
    ViewBag.Title = "CertificateReport";
}
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        //exportTable.find('th').last().remove();
        exportTable.find('button').each(function (index, elem) { $(elem).remove(); });
        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';

        var fileName = "CertificateReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <h5>
        @Html.ActionLink("Summary report", "Index")&nbsp;&nbsp;
        @Html.ActionLink("No enrollment", "Enrollment")&nbsp;&nbsp;
        @Html.ActionLink("Member report", "Member")&nbsp;&nbsp;
        @Html.ActionLink("Not required course", "NotRequiredCourse")&nbsp;&nbsp;
        @Html.ActionLink("Certificate report", "CertificateReport", null, new { @style = "color: red;" })&nbsp;&nbsp;
        @Html.ActionLink("Spec completed", "SpecCompleted")&nbsp;&nbsp;
        @Html.ActionLink("Bonus report", "Bonus")&nbsp;&nbsp;
        @Html.ActionLink("Estimated learning hours", "Estimated")&nbsp;&nbsp;
        @Html.ActionLink("Studying status overview", "StatusOverview")&nbsp;&nbsp;
    </h5>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-body" style="padding-top: initial;">
        @using (Html.BeginForm("CertificateReport", "Report", FormMethod.Get))
        {
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label"> Search by Roll:</label>
            </div>
            <div class="col-lg-3">
                @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                @Html.Hidden("searchCheck", "true")
            </div>
            <div class="col-md-2">
                <label class="control-label"> Search by Subject: </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("SelectString", null, htmlAttributes: new { @class = "form-control", @style = "max-width:400px;width:400px" })
            </div>
        </div>
            <br />
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Semester:</label>
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                </div>
                <div class="col-md-6">
                    <input class="btn btn-success" type="submit" value="Search" />
                </div>

            </div>
        }
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2>
        <label style="color: green;">Certificate Report</label>
    </h2>
</div>
@if (Model.certificatesModel != null)
{
    if (Model.certificatesModel.Count > 0)
    {

        <h4>Showing @ViewBag.TotalSearch results <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
        <table class="table table-bordered" id="dataTable">
            <tr>
                <th>Roll</th>
                <th>Subject Name</th>
                <th>Course Name</th>
                <th>Link</th>
                <th>Date Submit</th>
                <th></th>
            </tr>
            @for (var i = 0; i < Model.certificatesModel.Count;i = i + Model.certificatesModel.Where(m => m.Roll == @Model.certificatesModel[i].Roll).Count())
            {
            <tr>
                <th rowspan="@Model.certificatesModel.Where(m => m.Roll == @Model.certificatesModel[i].Roll).Count()">@Model.certificatesModel[i].Roll</th>
                @{int y = 0; }
                @{int z = i;}
                @foreach (var t in Model.certificatesModel.Where(m => m.Roll == @Model.certificatesModel[i].Roll))
                {
                    if (y > 0)
                    {
                    @:</tr><tr>
                    }
                        <th>@Model.certificatesModel[z].SubjectName</th>
                        <th>@Model.certificatesModel[z].CourseName</th>
                        <th>@Model.certificatesModel[z].Link</th>
                        <th>@Model.certificatesModel[z].Date_Submit</th>
                        <th>
                            <button onclick="window.open('@Model.certificatesModel[z].Link')">View</button>
                        </th>
                    y++;
                    z++;
                }

                </tr>
            }
        </table>
    }
    else
    {
        <h4 style="margin-left: auto; margin-right: auto; text-align: center;">Showing 0 result</h4>
    }

}

