@model MSS_DEMO.Models.CertificateViewModel
@{
    ViewBag.Title = "CertificateReport";
}
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        //exportTable.find('th').last().remove();
        exportTable.find('button').each(function (index, elem) { $(elem).remove(); });
        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';

        var fileName = "CertificateReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <h4>
        @Html.ActionLink("Summary reports", "Index")&nbsp;&nbsp;
        @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
        @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
        @Html.ActionLink("NotRequiredCourse", "NotRequiredCourse")&nbsp;&nbsp;
        @Html.ActionLink("CertificateReport", "CertificateReport")&nbsp;&nbsp;
        @Html.ActionLink("SpecCompleted", "SpecCompleted")&nbsp;&nbsp;
        @Html.ActionLink("BonusReport", "Bonus")&nbsp;&nbsp;
    </h4>
</div>
<div class="panel panel-default">
    <div class="panel-body" style="padding-top: initial;">
        @using (Html.BeginForm("CertificateReport", "Report", FormMethod.Get))
        {
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label"> Search by Roll Number</label>
                </div>
                <div class="col-lg-3">
                    @Html.TextBox("SearchString")
                    @Html.Hidden("searchCheck", "true")
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label"> Search by Subject </label>
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("SelectString", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Semester</label>
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                </div>
                <div class="col-md-6">
                    <input class="btn btn-default" type="submit" value="Search" />
                </div>

            </div>
        }
    </div>
</div>
@if (Model.certificatesModel != null)
{
    if (Model.certificatesModel.Count > 0)
    {
        <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <h2>
                <label style="color: green;">Certificate Report</label>
            </h2>
        </div>
        <h4>Total of the records: @ViewBag.TotalSearch <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
        <table class="table table-bordered" id="dataTable">
            <tr>
                <th>Roll</th>
                <th>Subject Name</th>
                <th>Course Name</th>
                <th>Link</th>
                <th>Date Submit</th>
                <th></th>
            </tr>
            @for (var i = 0; i < Model.certificatesModel.Count; i++)
            {
                <tr>
                    <th>@Model.certificatesModel[i].Roll</th>
                    <th>@Model.certificatesModel[i].SubjectName</th>
                    <th>@Model.certificatesModel[i].CourseName</th>
                    <th>@Model.certificatesModel[i].Link</th>
                    <th>@Model.certificatesModel[i].Date_Submit</th>
                    <th>
                        <button onclick="window.open('@Model.certificatesModel[i].Link')">View</button>
                    </th>
                </tr>
            }
        </table>
    }
    else
    {
        <h4 style="margin-left: auto; margin-right: auto; text-align: center;">No data found</h4>
    }

}

