
@model MSS_DEMO.Models.ListStudent


@{
    ViewBag.Title = "Enrollment";
}
<style>
    .col-md-2 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 170px;
    }
</style>
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "EnrollmentReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <div>
        <div>
            <h5>
                @Html.ActionLink("Summary report", "Index")&nbsp;&nbsp;
                @Html.ActionLink("No enrollment", "Enrollment", null, new { @style = "color: red;" })&nbsp;&nbsp;
                @Html.ActionLink("Member report", "Member")&nbsp;&nbsp;
                @Html.ActionLink("Not required course", "NotRequiredCourse")&nbsp;&nbsp;
                @Html.ActionLink("Certificate report", "CertificateReport")&nbsp;&nbsp;
                @Html.ActionLink("Spec completed", "SpecCompleted")&nbsp;&nbsp;
                @Html.ActionLink("Bonus report", "Bonus")&nbsp;&nbsp;
                @Html.ActionLink("Estimated learning hours", "Estimated")&nbsp;&nbsp;
                @Html.ActionLink("Studying status overview", "StatusOverview")&nbsp;&nbsp;
            </h5>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">

            @using (Html.BeginForm("Enrollment", "Report", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Campus: </label>
                    </div>
                    <div class="col-md-3" style="padding:0">
                        @Html.DropDownList("SelectCampus", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Semester:</label>
                    </div>
                    <div class="col-md-3" style="padding:0">
                        @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Reported date: </label>
                    </div>
                    <div class="col-md-3" style="padding:0">
                        @Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"> Search by Roll:</label>
                    </div>
                    <div class="col-md-3" style="padding:0">
                        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                        @Html.Hidden("searchCheck", "true")
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Subject: </label>
                    </div>
                    <div class="col-md-3" style="padding:0">
                        @Html.DropDownList("SelectSubject", null, htmlAttributes: new { @class = "form-control", @style = "max-width:636px;width:636px" })
                    </div>
                </div>
                <br />
                <br />
                <div class="panel-footer text-center">                   
                        <input class="btn btn-success" type="submit" value="Search" />                    
                </div>
            }
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2>
        <label style="color: green;">No Enrollment Report</label>
    </h2>
</div>
@if (Model != null)
{
    <div>
        @if (Model.ls1.Count > 0)
        {

            <h4>Showing @ViewBag.TotalSearch results <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
            <table class="table table-bordered" id="dataTable">
                <tr>
                    <th>No</th>
                    <th>Email</th>
                    <th>Roll</th>
                    <th>Full_Name</th>
                    <th>Campus</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
                @{ int a = 1;}
                @foreach (var t in Model.ls1)
                {
                    <tr>
                        <th>@(a++)</th>
                        <th>@Html.DisplayFor(m => t.Email)</th>
                        <th>@Html.DisplayFor(m => t.Roll)</th>
                        <th>@Html.DisplayFor(m => t.Full_Name)</th>
                        <th>@Html.DisplayFor(m => t.Campus)</th>
                        <th>
                            @foreach (var d in t.ListSubject)
                            {
                                @Html.DisplayFor(m => d)
                                <br />
                            }
                        </th>
                        <th>@Html.DisplayFor(m => t.Note)</th>
                    </tr>
                }
            </table>

        }
        else
        {
            <h4 style="margin-left: auto; margin-right: auto; text-align: center;">Showing 0 result</h4>
        }
    </div>
}
    <script>
         $('#SelectSemester').change(function () {
             var SelectSemester = $('#SelectSemester').val();
             if (SelectSemester != null) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("getListDateCourse", "Report")',
                     data: { 'SelectSemester': SelectSemester },
                     dataType: 'json',
                     success: function (data) {
                         sl = document.getElementById("SelectDatetime");
                         while (sl.firstChild) {
                             sl.removeChild(sl.firstChild);
                         }
                         if (data.list.length > 0) {
                             for (i = 0; i < data.list.length; i++) {
                                 newOption = new Option(data.list[i]);
                                 document.getElementById("SelectDatetime").options.add(newOption);
                             }
                         }
                     }
                 });
             }
        });

        $(function () {
        if (($("#error").text() != "") || ($("#success").text() != "")) {
            $('#SelectSemester').val("").change();
        }
    });
    </script>


