@model MSS_DEMO.Models.Report

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Summary Report";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
</head>
<body>
    <div>
        <h4>
            <u>@Html.ActionLink("Summary reports", "Index", null, new { @style = "color: red;" })</u>&nbsp;&nbsp;
            @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
            @Html.ActionLink("Not Required Course", "NotRequiredCourse")&nbsp;&nbsp;
            @Html.ActionLink("Certificate Report", "CertificateReport")&nbsp;&nbsp;
            @Html.ActionLink("Spec Completed", "SpecCompleted")&nbsp;&nbsp;
            @Html.ActionLink("Bonus Report", "Bonus")&nbsp;&nbsp;
        </h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">
            @using (Html.BeginForm("Index", "Report", FormMethod.Post))
            {
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label"> Reported date: </label>
                    @Html.Hidden("searchCheck", "true")
                </div>
                <div class="col-md-3">
                    <label>@Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label"> Semester:  </label>
                </div>
                <div class="col-md-3">
                    <label> @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })</label>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">  Week off:  </label>                      
                </div>
                <div class="col-md-3">
                    <label> @Html.TextBox("weekNumber", "0", htmlAttributes: new { @class = "form-control", @type = "number", min = "0", style = "width:70px" })</label>
                </div>
                <div class="col-md-6">
                    <label><input class="btn btn-default" type="submit" value="Display" /></label>
                </div>
            </div>
            }
        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <h2>
            <label style="color: green;">Summary reports</label>
        </h2>
    </div>
    @if (Model != null && ViewBag.Name != null && ViewBag.Count != null)
    {
        <div>
            <h4>Total number of students: @ViewBag.TotalStudent1    @Html.ActionLink("Export", "PrintViewToPdf", "Report", new { weekNumber = ViewBag.weekNumber, SelectDatetime = ViewBag.date, SelectSemester = ViewBag.semester, searchCheck = 1 }, null)</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Sub</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>All</th>
                    @foreach (var t in ViewBag.Name)
                    {
                        <th>@t</th>
                    }
                </tr>
                @foreach (var t in Model.rp1)
                {
                    <tr>
                        <th>@Html.DisplayFor(m => t.Sub)</th>
                        <th>@Html.DisplayFor(m => t.Name)</th>
                        <th>@Html.DisplayFor(m => t.Type)</th>
                        <th>@Html.DisplayFor(m => t.Total)</th>
                        @foreach (var c in t.Cmp)
                        {
                            <th>@c</th>
                        }
                    </tr>
                }
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    @foreach (var t in ViewBag.Count)
                    {
                        <th>@t</th>
                    }
                </tr>
            </table>
        </div>
        <h4>Total students were on compulsory courses: @ViewBag.TotalStudent2</h4>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Sub</th>
                    <th>Name</th>
                    <th>% enrollment</th>
                    <th>All</th>
                    @foreach (var t in ViewBag.Name)
                    {
                        <th>@t</th>
                    }
                </tr>
                @foreach (var t in Model.rp2)
                {
                    <tr>
                        <th>@Html.DisplayFor(m => t.Sub)</th>
                        <th>@Html.DisplayFor(m => t.Name)</th>
                        <th>@Html.DisplayFor(m => t.Study)%</th>
                        <th>@Html.DisplayFor(m => t.Total)</th>
                        @foreach (var c in t.Cmp)
                        {
                            <th>@c</th>
                        }
                    </tr>
                }
                <tr>
                    <th></th>
                    <th></th>
                    <th>@ViewBag.TotalPercent%</th>
                    @foreach (var o in ViewBag.Count2)
                    {
                        <th>@o</th>
                    }
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>% enrollment by campus:</th>
                    @foreach (var p in ViewBag.Per)
                    {
                        <th>@p%</th>
                    }
                </tr>
            </table>
        </div>
        <h4>@ViewBag.studentComplete students completed @ViewBag.courseComplete required courses</h4>
        <h4>@ViewBag.Estimated students have average learning hours less than 5 hours per week (@ViewBag.Percent%)</h4>
    }
</body>
</html>