@model MSS_DEMO.Models.Report

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Summary Report";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
</head>
<body>
    <div>
        <h4>
            @Html.ActionLink("Summary reports", "Index")&nbsp;&nbsp;
            @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
            @Html.ActionLink("NotRequiredCourse", "NotRequiredCourse")&nbsp;&nbsp;
            @Html.ActionLink("CertificateReport", "CertificateReport")&nbsp;&nbsp;
        </h4>
    </div>
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <h2>
            <label style="color: green;">Summary reports</label>
        </h2>
    </div>
    @using (Html.BeginForm("Index", "Report", FormMethod.Post))
    {
    <div>
        <label>
            Imported date @Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
            Semester @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
            Week: @ViewBag.Week
            @Html.Hidden("searchCheck", "true")
        </label>
    </div>
    <div>
        <label>
            Week off @Html.TextBox("weekNumber", "0", htmlAttributes: new { @class = "form-control", @type = "number", style = "width:50px" })
        </label>
        <input class="btn btn-default" type="submit" value="Display" />
        <a>@Html.ActionLink("Export", "PrintViewToPdf", "Report")</a>
    </div>

    }




    <br />
    @if (Model != null)
    {
        <div>
            <h4>Tổng số SV: @ViewBag.TotalStudent1</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Sub</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>All</th>
                    @foreach (var t in ViewBag.Name)
                    {
                        <th>@t</th>
                    }
                </tr>
                @foreach (var t in Model.rp1)
                {
                    <tr>
                        <th>@Html.DisplayFor(m => t.Sub)</th>
                        <th>@Html.DisplayFor(m => t.Name)</th>
                        <th>@Html.DisplayFor(m => t.Type)</th>
                        <th>@Html.DisplayFor(m => t.Total)</th>
                        @foreach (var c in t.Cmp)
                        {
                            <th>@c</th>
                        }
                    </tr>
                }
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    @foreach (var t in ViewBag.Count)
                    {
                        <th>@t</th>
                    }
                </tr>
            </table>
        </div>
        <h4>Tổng số SV đã vào khóa học bắt buộc: @ViewBag.TotalStudent2</h4>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Sub</th>
                    <th>Name</th>
                    <th>% Vào học</th>
                    <th>All</th>
                    @foreach (var t in ViewBag.Name)
                    {
                        <th>@t</th>
                    }
                </tr>
                @foreach (var t in Model.rp2)
                {
                    <tr>
                        <th>@Html.DisplayFor(m => t.Sub)</th>
                        <th>@Html.DisplayFor(m => t.Name)</th>
                        <th>@Html.DisplayFor(m => t.Study)%</th>
                        <th>@Html.DisplayFor(m => t.Total)</th>
                        @foreach (var c in t.Cmp)
                        {
                            <th>@c</th>
                        }
                    </tr>
                }
                <tr>
                    <th></th>
                    <th></th>
                    <th>@ViewBag.TotalPercent%</th>
                    @foreach (var o in ViewBag.Count2)
                    {
                        <th>@o</th>
                    }
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>% Vào học theo campus:</th>
                    @foreach (var p in ViewBag.Per)
                    {
                        <th>@p%</th>
                    }
                </tr>
            </table>
        </div>
        <h4>@ViewBag.studentComplete sinh viên đã hoàn thành @ViewBag.courseComplete khóa học bắt buộc</h4>
        <h4>@ViewBag.Estimated sinh viên có số giờ học nhỏ hơn 5/Tuần(@ViewBag.Percent%)</h4>
    }
</body>
</html>