
@model MSS_DEMO.Models.InfoStudent


@{
    ViewBag.Title = "Member";
}
<style>   
    .col-md-2 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 135px;
    }
</style>
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "MemberReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <div>
        <h5>
            @Html.ActionLink("Summary report", "Index")&nbsp;&nbsp;
            @Html.ActionLink("No enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member report", "Member", null, new { @style = "color: red;" })&nbsp;&nbsp;
            @Html.ActionLink("Not required course", "NotRequiredCourse")&nbsp;&nbsp;
            @Html.ActionLink("Certificate report", "CertificateReport")&nbsp;&nbsp;
            @Html.ActionLink("Spec completed", "SpecCompleted")&nbsp;&nbsp;
            @Html.ActionLink("Bonus report", "Bonus")&nbsp;&nbsp;
            @Html.ActionLink("Estimated learning hours", "Estimated")&nbsp;&nbsp;
            @Html.ActionLink("Studying status overview", "StatusOverview")&nbsp;&nbsp;
        </h5>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">

            @using (Html.BeginForm("Member", "Report", FormMethod.Get))
            {
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label"> Search by Roll:</label>
                </div>
                <div class="col-lg-3"style="padding:0">
                    @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    @Html.Hidden("searchCheck", "true")
                </div>
                <div class="col-md-2">
                    <label class="control-label">Semester:</label>
                </div>
                <div class="col-md-3"style="padding:0">
                    @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Reported date: </label>
                    </div>
                    <div class="col-md-3"style="padding:0">
                        @Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"> Compulsory: </label>
                    </div>
                    <div class="col-md-3"style="padding:0">
                        @Html.DropDownList("Compulsory", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                </div>
                <br />
                <br />
                <div class="panel-footer text-center">                   
                        <input class="btn btn-success" type="submit" value="Search" />                   
                </div>
            }

        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <h2>
            <label style="color: green;">Member Report</label>
        </h2>
    </div>
    @if (Model != null)
    {
        <div>
            @if (Model.InforList.Count > 0)
            {

                <h4>Showing @ViewBag.TotalSearch results <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
                <table class="table table-bordered table-striped" id="dataTable">
                    <tr>
                        <th>No</th>
                        <th>SubjectID</th>
                        <th>Subject</th>
                        <th>Course Name</th>
                        <th>Enrolled</th>
                        <th>Last Active</th>
                        <th>Progress</th>
                        <th>Estimated learning hour</th>
                        <th>Completion Time</th>
                        <th>Status</th>
                        <th>Note</th>
                    </tr>
                    @{ int a = 1;}
                    @for (var i = 0; i < Model.InforList.Count; i++)
                    {
                        <tr>
                            <th>@(a++)</th>
                            @*<th>@Html.ActionLink(@Model.InforList[i].SubjectID, "Note", "Report", new {Roll =  }, new { @class = "page-scroll" }))</th>*@
                            <th><a id="noteClick" href="" data-toggle="modal" data-target="#exampleModal">@Model.InforList[i].SubjectID</a></th>
                            <th>@Model.InforList[i].Subject</th>
                            <th>@Model.InforList[i].Course_Name</th>
                            <th>@Model.InforList[i].Course_Enrollment_Time</th>
                            <th>@Model.InforList[i].Last_Course_Activity_Time</th>
                            <th>@Model.InforList[i].Overall_Progress</th>
                            <th>@Model.InforList[i].Estimated</th>
                            <th>@Model.InforList[i].Completion_Time</th>
                            @if (Model.InforList[i].Completed)
                            {
                                <th><span style="color:green;">Completed</span></th>
                            }
                            else
                            {
                                <th><span style="color:red;">Incomplete</span></th>
                            }
                            @if (a == 2 || Model.InforList[i].SubjectID != Model.InforList[i - 1].SubjectID)
                            {
                                <th rowspan="@(@Model.InforList.Where(m => m.SubjectID == Model.InforList[i].SubjectID).Count() + 1)">@Model.InforList[i].Note</th>
                            @:</tr><tr>
                            }

                        </tr>
                    }
                </table>
            }
            else
            {
                <h4 style="margin-left: auto; margin-right: auto; text-align: center;">Showing 0 result</h4>
            }
        </div>
    }
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 170%;
             margin-left: -35%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <textarea id="textAreaNote" style="height: 100px; width: 100%;max-width: 100%;" class="form-control"></textarea>
                    @Html.Hidden("idModelNote")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
         $('#SelectSemester').change(function () {
             var SelectSemester = $('#SelectSemester').val();
             if (SelectSemester != null) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("getListDateCourse", "Report")',
                     data: { 'SelectSemester': SelectSemester },
                     dataType: 'json',
                     success: function (data) {
                         sl = document.getElementById("SelectDatetime");
                         while (sl.firstChild) {
                             sl.removeChild(sl.firstChild);
                         }
                         if (data.list.length > 0) {
                             for (i = 0; i < data.list.length; i++) {
                                 newOption = new Option(data.list[i]);
                                 document.getElementById("SelectDatetime").options.add(newOption);
                             }
                         }
                     }
                 });
             }
        });

        $(function () {
        if (($("#error").text() != "") || ($("#success").text() != "")) {
            $('#SelectSemester').val("").change();
        }
        });
        $(".table tbody #noteClick").each(function (id, item) {
        $(this).click(function ()
        {          
            var roll = $("#SearchString").val();
            var semester = $("#SelectSemester").val();
            var subjectID = $("#noteClick").text();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Note","Report")',
                    data: { 'SubjectID': subjectID, 'roll': roll, 'semester': semester },
                    dataType: 'json',
                    success: function (data) {
                        $("#textAreaNote").val(data.Note);
                        $("#idModelNote").val(data.ID);

                    }
                });
        });
        });
        
         $("#save").click(function ()
           {   var noteID = $("#idModelNote").val();
               var note = $("#textAreaNote").val();
                $.ajax({
                url: '@Url.Action("AddNote","Student_Course_Log")',
                type: 'POST',
                data:  { 'id' : noteID, 'note' : note },
                dataType: 'json',
                success: function (data) {
                    if (data.check == true) {
                        window.location.reload();
                    }
                 }
                }).done(function () {

                });
        });

    </script>

