
@model MSS_DEMO.Models.ListNotRequiredCourse


@{
    ViewBag.Title = "NotRequiredCourse";
}
<div>
    <div>
        <h4>
            @Html.ActionLink("Sumary reports", "Index")&nbsp;&nbsp;
            @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
            @Html.ActionLink("NotRequiredCourse", "NotRequiredCourse")&nbsp;&nbsp;
        </h4>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">

            @using (Html.BeginForm("NotRequiredCourse", "Report", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Completed </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectString", null, htmlAttributes: new { @class = "form-control" })
                        @Html.Hidden("searchCheck", "true")
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-default" type="submit" value="Search" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Model != null)
{
<div>
    @if (Model.lc1.Count > 0)
    {
        <h4>Total of the records: @ViewBag.TotalSearch</h4>
        <table class="table table-bordered table-striped">
            <tr>
                <th>STT</th>
                <th>Course Name</th>
                <th>Number Student Completed</th>
                <th>Number Student Not Completed</th>
            </tr>
            @{ int a = 1;}
            @foreach (var t in Model.lc1)
            {
                <tr>
                    <th>@(a++)</th>
                    <th>@Html.DisplayFor(m => t.Name)</th>
                    <th>@Html.DisplayFor(m => t.Complelted)</th>
                    <th>@Html.DisplayFor(m => t.NotComplelted)</th>
                </tr>
            }
        </table>
    }
</div>
}
<br />

