@model MSS_DEMO.Models.ListStudent

@{
    ViewBag.Title = "SpecCompleted";
}
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "SpecCompletedReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <div>
        <h4>
            @Html.ActionLink("Summary reports", "Index")&nbsp;&nbsp;
            @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
            @Html.ActionLink("Not Required Course", "NotRequiredCourse")&nbsp;&nbsp;
            @Html.ActionLink("Certificate Report", "CertificateReport")&nbsp;&nbsp;
            <u>@Html.ActionLink("Spec Completed", "SpecCompleted", null, new { @style = "color: red;" })</u>&nbsp;&nbsp;
            @Html.ActionLink("Bonus Report", "Bonus")&nbsp;&nbsp;
            <br />
            <br />
            @Html.ActionLink("Estimated Learning Hours", "Estimated")&nbsp;&nbsp;
            @Html.ActionLink("Studying Status Overview", "StatusOverview")&nbsp;&nbsp;
        </h4>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">

            @using (Html.BeginForm("SpecCompleted", "Report", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Roll:</label>
                    </div>
                    <div class="col-lg-3">
                        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                        @Html.Hidden("searchCheck", "true")
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Semester:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Campus: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectCampus", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"> Reported date: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Compulsory: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("Compulsory", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"> Search by Subject: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectSubject", null, htmlAttributes: new { @class = "form-control", @style = "max-width:300px;width:300px" })
                    </div>
                </div>
                <br />
                <div style="text-align:center">
                    <input class="btn btn-default" type="submit" value="Display" />
                </div>
            }
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2>
        <label style="color: green;">Specification Completed Report</label>
    </h2>
</div>
@if (Model != null)
{
<div>
    @if (Model.ls1.Count > 0)
    {
        if (ViewBag.TotalSearchForSearchNull != null)
        {
            <h4>Total of the records: @ViewBag.TotalSearchForSearchNull <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
        }
        else if (ViewBag.TotalSearchForSearchNull == null)
        {
            <h4>Total of the records: @ViewBag.TotalSearch/@ViewBag.Spec (@ViewBag.Percent%) <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
        }
        <table class="table table-bordered table-striped" id="dataTable">
            <tr>
                <th>No</th>
                <th>Roll</th>
                <th>Email</th>
                <th>Subject/Specification</th>
                <th>Campus</th>
            </tr>
            @{ int a = 1;}
            @foreach (var t in Model.ls1)
            {
                <tr>
                    <th>@(a++)</th>
                    <th>@Html.DisplayFor(m => t.Roll)</th>
                    <th>@Html.DisplayFor(m => t.Email)</th>
                    <th>@Html.DisplayFor(m => t.Subject)</th>
                    <th>@Html.DisplayFor(m => t.Campus)</th>
                </tr>
            }

        </table>
    }
    else
    {
        <h4 style="margin-left: auto; margin-right: auto; text-align: center;">Showing 0 results</h4>
    }
</div>
}

