@model MSS_DEMO.Models.StatusOverviewModel
@{
    ViewBag.Title = "StatusOverview";
}
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "StudyingStatusOverviewReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <div>
        <h4>
            @Html.ActionLink("Summary reports", "Index")&nbsp;&nbsp;
            @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
            @Html.ActionLink("Not Required Course", "NotRequiredCourse")&nbsp;&nbsp;
            @Html.ActionLink("Certificate Report", "CertificateReport")&nbsp;&nbsp;
            @Html.ActionLink("Spec Completed", "SpecCompleted")&nbsp;&nbsp;
            @Html.ActionLink("Bonus Report", "Bonus")&nbsp;&nbsp;
            <br />
            <br />
            @Html.ActionLink("Estimated Learning Hours", "Estimated")&nbsp;&nbsp;
            <u>@Html.ActionLink("Studying Status Overview", "StatusOverview", null, new { @style = "color: red;" })</u>&nbsp;&nbsp;
        </h4>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">

            @using (Html.BeginForm("StatusOverview", "Report", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Roll:</label>
                    </div>
                    <div class="col-lg-3">
                        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Semester</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Reported date </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"> Search by Subject: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectSubject", null, htmlAttributes: new { @class = "form-control", @style ="max-width:300px;width:300px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Course Completed</label>
                    </div>
                    <div class="col-md-3">
                        <label>@Html.TextBox("selectCoursCompleted", "-1", htmlAttributes: new { @class = "form-control", @type = "number", min = "-1", style = "width:70px" })</label>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Final Status</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("selectFinalStatus", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Campus: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectCampus", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-default" type="submit" value="Search" />
                        @Html.Hidden("searchCheck", "true")
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2>
        <label style="color: green;">Studying Status Overview Report</label>
    </h2>
</div>
@if (Model != null)
{
    <div>
        @if (Model.OverviewList.Count > 0)
        {

            <h4>Showing @ViewBag.TotalSearch results <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
            <table class="table table-bordered table-striped" id="dataTable">
                <tr>
                    <th>No</th>
                    <th>Roll</th>
                    <th>Email</th>
                    <th>Campus</th>
                    <th>SubjectID</th>
                    <th>Subject Name</th>
                    <th>No Compulsory Course</th>
                    <th>No Compulsory Completed</th>
                    <th>Spec status in spec report</th>
                    <th>Final status</th>
                </tr>
                @{ int a = 1;}
                @foreach (var t in Model.OverviewList)
                {
                    <tr>
                        <th>@(a++)</th>
                        <th>@Html.ActionLink(t.Roll, "Member", "Report", new { searchString = t.Roll, searchCheck = true, Compulsory  = "All", SelectSemester = t.Semester, SelectDatetime = Convert.ToDateTime(t.Date).ToString("dd/MM/yyyy") }, new { @class = "page-scroll" })</th>
                        <th>@Html.DisplayFor(m => t.Email)</th>
                        <th>@Html.DisplayFor(m => t.Campus)</th>
                        <th>@Html.DisplayFor(m => t.SubjectID)</th>
                        <th>@Html.DisplayFor(m => t.SubjectName)</th>
                        <th>@Html.DisplayFor(m => t.No_Compulsory_Course)</th>
                        <th>@Html.DisplayFor(m => t.No_Course_Completed)</th>
                        <th>@Html.DisplayFor(m => t.Spec_Completed)</th>
                        <th>@Html.DisplayFor(m => t.Final_Status)</th>
                    </tr>
                }

            </table>
        }
        else
        {
            <h4 style="margin-left: auto; margin-right: auto; text-align: center;">Showing 0 result</h4>
        }
    </div>
}
<script>
         $('#SelectSemester').change(function () {
             var SelectSemester = $('#SelectSemester').val();
             if (SelectSemester != null) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("getListDateCourse", "Report")',
                     data: { 'SelectSemester': SelectSemester },
                     dataType: 'json',
                     success: function (data) {
                         sl = document.getElementById("SelectDatetime");
                         while (sl.firstChild) {
                             sl.removeChild(sl.firstChild);
                         }
                         if (data.list.length > 0) {
                             for (i = 0; i < data.list.length; i++) {
                                 newOption = new Option(data.list[i]);
                                 document.getElementById("SelectDatetime").options.add(newOption);
                             }
                         }
                     }
                 });
             }
        });

        $(function () {
        if (($("#error").text() != "") || ($("#success").text() != "")) {
            $('#SelectSemester').val("").change();
        }
    });
</script>

