@model MSS_DEMO.Models.StatusOverviewModel
@{
    ViewBag.Title = "StatusOverview";
}
<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "StudyingStatusOverviewReport" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<div>
    <div>
        <h4>
            @Html.ActionLink("Summary reports", "Index")&nbsp;&nbsp;
            @Html.ActionLink("No Enrollment", "Enrollment")&nbsp;&nbsp;
            @Html.ActionLink("Member Report", "Member")&nbsp;&nbsp;
            @Html.ActionLink("Not Required Course", "NotRequiredCourse")&nbsp;&nbsp;
            @Html.ActionLink("Certificate Report", "CertificateReport")&nbsp;&nbsp;
            @Html.ActionLink("Spec Completed", "SpecCompleted")&nbsp;&nbsp;
            @Html.ActionLink("Bonus Report", "Bonus")&nbsp;&nbsp;
            <br />
            <br />
            @Html.ActionLink("Estimated Learning Hours", "Estimated")&nbsp;&nbsp;
            <u>@Html.ActionLink("Studying Status Overview", "StatusOverview", null, new { @style = "color: red;" })</u>&nbsp;&nbsp;
        </h4>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: initial;">

            @using (Html.BeginForm("StatusOverview", "Report", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Search by Roll:</label>
                    </div>
                    <div class="col-lg-3">
                        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Semester</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectSemester", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label"> Reported date </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectDatetime", null, htmlAttributes: new { @class = "form-control", style = "width:174px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"> Search by Subject: </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("SelectSubject", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Course Completed</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("selectCoursCompleted", null, htmlAttributes: new { @class = "form-control", style = "width:200px" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Final Status</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("selectFinalStatus", null, htmlAttributes: new { @class = "form-control", style = "width:150px" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-6">
                        <input class="btn btn-default" type="submit" value="Search" />
                        @Html.Hidden("searchCheck", "true")
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2>
        <label style="color: green;">Studying Status Overview Report</label>
    </h2>
</div>
@if (Model != null)
{
    <div>
        @if (Model.OverviewList.Count > 0)
        {

            <h4>Total of the records: @ViewBag.TotalSearch <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button></h4>
            <table class="table table-bordered table-striped" id="dataTable">
                <tr>
                    <th>No</th>
                    <th>Roll</th>
                    <th>Email</th>
                    <th>Subject_ID</th>
                    <th>Subject_Name</th>
                    <th>No_Compulsory_Course</th>
                    <th>No_Compulsory_Completed</th>
                    <th>Spec status in spec report</th>
                    <th>Final_status</th>
                </tr>
                @{ int a = 1;}
                @foreach (var t in Model.OverviewList)
                {
                <tr>
                    <th>@(a++)</th>
                    <th>@Html.DisplayFor(m => t.Roll)</th>
                    <th>@Html.DisplayFor(m => t.Email)</th>
                    <th>@Html.DisplayFor(m => t.SubjectID)</th>
                    <th>@Html.DisplayFor(m => t.SubjectName)</th>
                    <th>@Html.DisplayFor(m => t.No_Compulsory_Course)</th>
                    <th>@Html.DisplayFor(m => t.No_Course_Completed)</th>
                    <th>@Html.DisplayFor(m => t.Spec_Completed)</th>
                    <th>@Html.DisplayFor(m => t.Final_Status)</th>
                </tr>
                }

            </table>
        }
        else
        {
            <h4 style="margin-left: auto; margin-right: auto; text-align: center;">No data found</h4>
        }
    </div>
}

