@using MSS_DEMO.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mentoring Support System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="/Content/Scripts/HoldOn.js"></script>
    @{ 
        var session = (UserLogin)Session[MSS_DEMO.Common.CommonConstants.User_Session];
    }
    <style>
        .form-group {
            padding: 2px;
        }
        .form-control {
            height: 29px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li style="font-size:25px;">@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @if (session != null)
                {
                <ul class="nav navbar-nav navbar-right">                 
                    <li>@Html.ActionLink("Welcome :" +@session.UserName,"Index", "Home")</li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">                     
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    </ul>
                }



            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FPT Education</p>
        </footer>
    </div>
</body>
</html>

