@model MSS_DEMO.Models.Specification

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Specification</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Specification_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Specification_ID, new { htmlAttributes = new { @class = "form-control" } })
            <label style="color:red" id="checkID" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Specification_Name, "Specification Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Specification_Name, new { htmlAttributes = new { @class = "form-control" } })
            <label style="color:red" id="checkName" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Subject_ID, "Subject ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Subject_ID", null, htmlAttributes: new { @class = "form-control" })
            <label style="color:red" id="checkSubject" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Is_Real_Specification, "Real Specification", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Is_Real_Specification, true)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btn" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
        $("#btn").click(function () {
        if ($("#Specification_ID").val() != "" && $("#Specification_Name").val() != "") {
            $("#btn").attr("type", "submit");
        }
        else {
            if ($("#Specification_ID").val() == "") $("#checkID").removeAttr("hidden");  else $("#checkID").prop("hidden",true)
            if ($("#Specification_Name").val() == "") $("#checkName").removeAttr("hidden");  else $("#checkName").prop("hidden",true)        
        }
    });
</script>