@model MSS_DEMO.Models.Specification

@{
    ViewBag.Title = "Create";
}
<style>
   textarea {
    max-width: 1200px;
    width:800px;
    height:200px;
}
</style>
<h2>Create Specification</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Subject ID</label>
        <div class="col-md-10">
            @Html.DropDownList("Subject_ID", null, htmlAttributes: new { @class = "form-control", @required = "true", @style = "max-width:400px;width:400px"})
            <label style="color:red" id="checkSubject" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Specification Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Specification_Name, new { htmlAttributes = new { @class = "form-control", @required = "true" , @style = "max-width: 800px; width:800px;", @maxlength = "250" } })
            <label style="color:red" id="checkName" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Is Real Specification</label>
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Is_Real_Specification, true)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Url, "Link Coursera", htmlAttributes: new { @class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @required = "true", @style = "max-width: 800px; width:800px;", @maxlength = "1000" } })
            <label style="color:red" id="checkUrl" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Description</label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @required = "true", @maxlength = "1500" })
            <label style="color:red" id="checkDes" hidden> This field is a required </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btn" type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}
<span style="color:red;">@ViewBag.Error</span>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
