@model MSS_DEMO.Models.Specification

@{
    ViewBag.Title = "Details";
}

<h2>Details Specification </h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Specification Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification_Name)
        </dd>
        <dt>
           Subject ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_ID)
        </dd>
        <dt>
            Is Real Specification
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Real_Specification)
        </dd>
        <dt>
            Link Coursera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Specification_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Specification_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
