@model MSS_DEMO.Models.Course_Deadline

@{
    ViewBag.Title = "Create";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<h2>Create Course Deadline</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="check" type="hidden" value="@ViewBag.CheckExits" />
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Semester ID</label>
            <div class="col-md-10">
                @Html.DropDownList("Semester_ID", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Semester_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Subject Name</label>
            <div class="col-md-10">
                @Html.DropDownList("Subject_ID", null,"--- Select Subject ---", htmlAttributes: new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Coures Name</label>
            <div class="col-md-10">
                @Html.DropDownList("Course_ID", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Course_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control datepicker", @required = "true" } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="=btn" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<span id="success" style="color:green">@ViewBag.success</span>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        if ($("#check").val() == "true") {
            sweetAlert("Add fail", "Course deadlines already exist this semester!", "error");
        }
    });
        $('.datepicker').datepicker({
        autoclose: true, 
        todayHighlight: true,
        format: 'dd/mm/yyyy'
        });
        //$(function () {
        //if ($("#success").text() != "")
        //{
        
        // }   
        //});
     $('#Subject_ID').change(function () {
                var subjectID = $('#Subject_ID').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getListCourse","Course_Deadline")',
                    data: { 'Subject_ID': subjectID },
                    dataType: 'json',
                    success: function (data) {
                        sl = document.getElementById("Course_ID");
                        while (sl.firstChild) {
                            sl.removeChild(sl.firstChild);
                        }
                        if (data.list.length > 0) {
                            for (i = 0; i < data.list.length; i++) {
                                newOption = new Option(data.list[i].Course_Name, data.list[i].Course_ID);
                                document.getElementById("Course_ID").options.add(newOption);
                            }
                        }
                        document.searchForm.submit();
                    }
                });
            });
</script>  