@model MSS_DEMO.Models.Course_Deadline

@{
    ViewBag.Title = "Create";
}

<h2>Create Course Deadline</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="check" type="hidden" value="@ViewBag.CheckExits"/>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Semester_ID, "Semester_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Semester_ID", null, htmlAttributes: new { @class = "form-control" , @required = "required" })
                @Html.ValidationMessageFor(model => model.Semester_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Coures Name</label>
            <div class="col-md-10">
                @Html.DropDownList("Course_ID", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Course_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @type = "date", @class = "form-control", @required = "required"} })
                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="=btn" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        if ($("#check").val() == "true") {
            sweetAlert("Add fail", "Course deadlines already exist this semester!", "error");
        }
    });
</script>  