@model MSS_DEMO.Models.Course_Deadline

@{
    ViewBag.Title = "Details";
}

<h2>Details Course Deadline</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @{ 
            string date = Convert.ToDateTime(Model.Deadline).ToString("dd/MM/yyyy");
        }
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
           @date
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Course_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.Semester_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.Semester_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course_Deadline_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Course_Deadline_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
