@model IEnumerable<MSS_DEMO.Models.Student_Course_Log>
@{
    ViewBag.Title = "Detail";
}
<br/>
<br />
@{
    int stt = 1;
}
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>
                        Email
                    </th>
                    <th>
                        Enrollment Time
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        Last ActivityTime
                    </th>
                    <th>
                        Overall Progress
                    </th>
                    <th>
                        Estimated
                    </th>
                    <th>
                        Completed
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Program Slug
                    </th>
                    <th>
                        Program Name
                    </th>
                    <th>
                        Completion Time
                    </th>
                    <th>
                        Course Grade
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var complete = item.Completed == true ? "Yes" : "No";
                    var status = item.Status == true ? "Yes" : "No";
                    string date = Convert.ToDateTime(item.Date_Import).ToString("MM/dd/yyyy");
                    <tr>
                        <td>@(stt++)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course_Enrollment_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course_Start_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Last_Course_Activity_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Overall_Progress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estimated)
                        </td>
                        <td>
                            @complete
                        </td>
                        <td>
                            @status
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Program_Slug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Program_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Completion_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course_Grade)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
