@model IEnumerable<MSS_DEMO.Core.Implement.MentorObject>

@{
    ViewBag.Title = "Usage Report";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Usage Report</span>
<br />
<br />
@{
    int stt = 1;
}
@if (ViewBag.checkData != "")
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>No</th>
            <th>
                Subject ID
            </th>
            <th>
                Subject Name
            </th>
            <th>
                Class
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@(stt++)</td>

                <td>
                    @Html.DisplayFor(modelItem => item.Subject_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject_Name)
                </td>
                <td>
                    @Html.ActionLink(item.Class_ID, "Detail", new { id = item.id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <span style="color:red;">Not found data</span>
}

