@model IEnumerable<MSS_DEMO.Core.Implement.Courses_Class_Mentor>

@{
    ViewBag.Title = "List Class";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > List Class</span>
<hr />

@{
    int stt = 1;
}
<table class="table table-bordered table-striped">
    <tr>
        <th>No</th>
        <th>
            Subject ID
        </th>
        <th>
            Course Name
        </th>
        <th>
            Class
        </th>


    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@(stt++)</td>

    <td>
        @Html.DisplayFor(modelItem => item.Subject_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Course_Name)
    </td>
    <td>
        @Html.ActionLink(item.Class_ID, "Detail", new { id = item.CoursesID_ClassID })
    </td>
</tr>
    }
</table>
