@model MSS_DEMO.Core.Components.Cours_Spec
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specification_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification_Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course_ID }) |
    @Html.ActionLink("Add deadline", "EditDeadline", new { id = Model.Course_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Course_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
