@model PagedList.IPagedList<MSS_DEMO.Core.Components.Cours_Spec>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Course";
}

<br />
<span>@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Setup for the new semester", "Index", "SetupBeginSemester") > Course</span>
<hr />
<div class="form-group">
    @using (Html.BeginForm("Index", "Courses", FormMethod.Get))
    {
        <div class="col-md-2" style="width: 11.666667%;">
            Course name:
        </div>
        <div class="col-md-2">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            @Html.Hidden("searchCheck", "true")
        </div>
        <div class="col-md-1">
            <input class="btn btn-success" type="submit" value="Search" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Add New", "Create")
        </div>
        <div class="col-md-5"></div>
    }
</div>
<br />
<br />
<span style="color: red;">@ViewBag.Nodata</span>
@if (Model.PageCount != 0)
{
<label> Showing @ViewBag.Count results</label>
    <table class="table table-bordered">
        <thead style="background: #f5f5f5;">
            <tr>
                <th></th>
                <th>
                    Specification Name
                </th>
                <th>
                    Course Name
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            //var specName = item.Specification_ID.ToString() == "" ? "Not Map" : item.Specification_Name;
            <tr>
                <td hidden><input type="text" class="groupRow" value="@item.groupRow"/></td>
                <td>@Html.DisplayFor(modelItem => item.groupRowNo)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification_Name)
                </td>
                <td>
                    @Html.ActionLink(item.Course_Name, "Details", new { id = item.Course_ID })
                </td>

            </tr>
        }

    </table>
    var pagecount = Model.PageCount != 0 ? Model.PageCount : Model.PageCount;
    var pagenumber = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}

@Html.PagedListPager(Model, page => Url.Action("Index",
     new { page, currentFilter = ViewBag.CurrentFilter, searchCheck = "true" }))
<script>
    $(document).ready(function () {
        $(".table tbody .groupRow").each(function (id, item) {
            var groupRow = $(this).parents("tr:first").find("input[type=text]").val();
            if (groupRow % 2 == 0) {
                $(item).parents("tr:first").find("td").css({
                    'background': '#a9c6e2'
                });
            }    
        });
    });
</script>