@model PagedList.IPagedList<MSS_DEMO.Core.Components.Cours_Spec>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Course";
}

<br />
<span>@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Setup for the new semester", "Index", "SetupBeginSemester") > Course</span>
<hr />
<div class="form-group">
    @using (Html.BeginForm("Index", "Courses", FormMethod.Get))
    {
    <div class="col-md-2" style="width: 11.666667%;">
        Courses name:
    </div>
        <div class="col-md-2" >
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search With ID" })
            @Html.Hidden("searchCheck", "true")
        </div>
        <div class="col-md-1">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Add New", "Create")
        </div>
        <div class="col-md-5"></div>
    }
</div>
<br />
<br />
@if (Model.PageCount != 0)
{
    <table class="table table-bordered table-striped">
        <tr>

            <th>
                Course Name
            </th>
            <th>
                Semester ID
            </th>
        </tr>

        @foreach (var item in Model)
        {
            //var specName = item.Specification_ID.ToString() == "" ? "Not Map" : item.Specification_Name;
         <tr>
        <td>
            @Html.ActionLink(item.Course_Name, "Details", new { id = item.Course_ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specification_Name)
        </td>
         </tr>
        }

    </table>
    var pagecount = Model.PageCount != 0 ? Model.PageCount : Model.PageCount;
    var pagenumber = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}

@Html.PagedListPager(Model, page => Url.Action("Index",
     new { page, currentFilter = ViewBag.CurrentFilter, searchCheck = "true" }))