@model IEnumerable<MSS_DEMO.Models.User_Role>

@{
    ViewBag.Title = "Subject";
}

<!DOCTYPE html>
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > User Management</span>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>User Management</h1>
    <p>
        @using (Html.BeginForm("Index", "User_Role", FormMethod.Post))
        {
            <input type="text" name="SearchString" />
            <button type="submit">Display</button>
            @Html.ActionLink("Add new user", "Create")

        }

    </p>
    @if (Model != null)
    {
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role.Role_Name)
                </th>              
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Login, "Details", new { id = item.User_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Role_Name)
                </td>
            </tr>
            }

        </table>
    }
</body>
</html>
