@model MSS_DEMO.Models.CertificateViewModel
@{
    ViewBag.Title = "Certificates";
}
<br />
<br />
@using (Html.BeginForm("Save", "Certificates", FormMethod.Post))
{
    if (Model.certificatesModel != null)
    {
        <table  class="table table-bordered">
            <tr>
                <th>Subject Name</th>
                <th>Course Name</th>
                <th>Enter coursera link</th>
                <th></th>
            </tr>
                @for (var i = 0; i < Model.certificatesModel.Count; i++)
                {
                <tr>
                    <th>@Model.certificatesModel[i].SubjectName</th>
                    <th>@Model.certificatesModel[i].CourseName</th>
                    <th>@Html.TextBox("CourseN", @Model.certificatesModel[i].Link, htmlAttributes: new { @class = "form-control" ,@maxlength = "250" })</th>
                    <th>
                        <button onclick="window.open('@Model.certificatesModel[i].Link')">View</button>
                    </th>
                </tr>
                }
        </table>
        <input class="btn btn-primary" type="submit" value="Save" />
    }
}

