
@{
    ViewBag.Title = "Student Import";
}
<br />
@*<ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")</li>
        <li>@Html.ActionLink("Student", "Index", "Students")</li>
        <li>ImportStudent</li>
    </ul>*@
<style>
    .form-control {
        height: 32px;
    }
</style>
<span>
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester") >
    @Html.ActionLink("Student", "Index", "Students") >
    Import Student
</span>
<hr />
<h3>Import Student</h3>
<div class="form-group"></div>
<div class="form-group">
    <label class="col-md-2 control-label"> File student template: </label>
    <div class="col-md-3 col-xs-12">
        @Html.ActionLink("Download", "Export", "ImportStudent")
    </div>
    <div class="col-md-12"></div>
</div>
<br />
<div class="form-group">
    <label class="col-md-2 control-label">Semester: </label>
    <div class="col-md-3 col-xs-12">
        @Html.DropDownList("Semester_ID", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-12"></div>
</div>
<br />
<div class="form-group">
    <label class="col-md-2 control-label">Campus: </label>
    <div class="col-md-3 col-xs-12">
        @Html.DropDownList("Campus_ID", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-12"></div>
</div>
<br />
<div class="container">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="form-group">
                    @Html.Label("File Upload:", new { @class = "col-sm-2" })
                    <div class="col-sm-3">
                        <input type="file" id="postedFile" name="postedFile" class="form-control" accept=".csv" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <br />
                        <input  title="Upload" value="Upload" class="btn btn-default" id="btn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $('#progress_container').hide();
        $("#btn").click(function () {
           var selectSemester = $("#Semester_ID").val();
            if (selectSemester == "None") {
                  sweetAlert("Lỗi!","Choose semester please!", "error");
            }
            else
            if ($("#Campus_ID").val() == "None") {
                sweetAlert("Lỗi!","Choose campus please!", "error");
            }
            else {
            var semester = $("#Semester_ID").val();
            var campus = $("#Campus_ID").val();
            var formData = new FormData();
            var file = document.getElementById("postedFile").files[0];
            formData.append("FileUpload", file);
            formData.append("Semester", semester);
            formData.append("Campus", campus);
            HoldOn.open({
                    message: 'Please wait...',
                    theme: "sk-circle"
                        });
            $.ajax({
                url: '@Url.Action("Import","ImportStudent")',
                type: 'POST',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.message.includes("success")) {
                         sweetAlert("Successfull!", data.message, "success");
                    }
                    else
                    sweetAlert("Error!", data.message, "error");
                 }
                 }).done(function () {
                     HoldOn.close();
                });
            }
        });
</script>
