
@{
    ViewBag.Title = "Student Import";
}
<br />
@*<ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")</li>
        <li>@Html.ActionLink("Student", "Index", "Students")</li>
        <li>ImportStudent</li>
    </ul>*@
<span>
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester") >
    @Html.ActionLink("Student", "Index", "Students") >
    Import Student
</span>
<hr />
<h4>Import Student</h4>
<div class="container">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">         
                <div class="form-group">
                    @Html.Label("File Upload", new { @class = "col-sm-3" })
                    <div class="col-sm-7">
                        <input type="file" id="postedFile" name="postedFile" class="form-control" accept=".csv" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <br />
                        <input type="submit" title="Upload" value="Upload" class="btn btn-default" id="btn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Content/Scripts/jquery-3.4.1.js"></script>
<script>
        $('#progress_container').hide();
        $("#btn").click(function () {
           var formData = new FormData();
           var file = document.getElementById("postedFile").files[0];
           formData.append("FileUpload", file);
            $('#progress_container').show();
            $.ajax({
                url: '@Url.Action("Import","ImportStudent")',
                type: 'POST',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.message == "Import successfull!") {
                         sweetAlert("Thành công!", data.message, "success");
                    }
                    else
                    sweetAlert("Lỗi!", data.message, "error");

                }
            }).done(function () {
                $('#progress_container').hide();
            });
        });
</script>
