@model IEnumerable<MSS_DEMO.Models.Subject_Student>

@{
    ViewBag.Title = "DeleteListSubject";
}
<br />
<span>
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester") >
    @Html.ActionLink("Student", "Index", "Students") >
    Delete list student
</span>
<hr />
<br/>
@using (Html.BeginForm("DeleteListSubject", "Students", FormMethod.Get))
{
    <div class="form-group">
        <label class="col-md-2 control-label">Campus: </label>
        <div class="col-md-3 col-xs-12">
            @Html.DropDownList("Campus_ID", null, htmlAttributes: new { @class = "form-control", @required = "true" })
        </div>
        <div class="col-md-12"></div>
    </div>
    <br />
    <div class="form-group">
        <label class="col-md-2 control-label">Semester: </label>
        <div class="col-md-3 col-xs-12">
            @Html.DropDownList("Semester_ID", null, htmlAttributes: new { @class = "form-control", @required = "true" })
        </div>
        <div class="col-md-12"></div>
    </div>
    <br />
    <div class="form-group">
        <label class="col-md-2 control-label">Subject: </label>
        <div class="col-md-3 col-xs-12">
            @Html.DropDownList("Subject_ID", null, htmlAttributes: new { @class = "form-control", @required = "true" })
        </div>
        <div class="col-md-12"></div>
    </div>
    <br />
    <button class="btn btn-success" type="submit">Delete</button>
}
<br />
<span style="color:red;">@ViewBag.mess</span>
<span style="color:green;">@ViewBag.success</span>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Subject_Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
                </td>
            </tr>
        }

    </table>*@
