@model MSS_DEMO.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Roll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roll)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campus)
        </dd>
        <dt>
            Subject: 
        </dt>

        <dd>
            @ViewBag.Subject
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Roll }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Roll }) |
    @Html.ActionLink("Back to List", "Index")
</p>
