@model MSS_DEMO.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details Student</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Roll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roll)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campus)
        </dd>
        <dt>
            Subject
        </dt>

        <dd>
            @ViewBag.Subject
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semester_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester_ID)
        </dd>
    </dl>
</div>
@{ 
    var id = Model.Roll + "^" + Model.Semester.Semester_ID;
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = id }) |
    @Html.ActionLink("Delete", "Delete", new { id = id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
