@model PagedList.IPagedList<MSS_DEMO.Models.Student>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Student";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home")>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester") > Student</span>
<hr />

<div class="form-group">
    <div class="col-md-2">
        <a href="ImportStudent/Index">Import Student</a>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Export Student", "Export_Student_CSV", "Students")
    </div>
    <div class="col-md-1"></div>
    <br />
</div>
<br />
<hr />
<div class="form-group">

    @using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
        <div class="col-md-2">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search With ID" })
            @Html.Hidden("searchCheck", "true")
        </div>
        <div class="col-md-2">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
        <div class="col-md-6"></div>
    }
</div>
<br />
<br />
<br />
@if (Model.PageCount != 0)
{
    <table class="table table-bordered">
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th>
                Campus
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roll)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Full_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus)
        </td>

    </tr>
        }

    </table>
    var pagecount = Model.PageCount != 0 ? Model.PageCount : Model.PageCount;
    var pagenumber = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}
@Html.PagedListPager(Model, page => Url.Action("Index",
      new { page, currentFilter = ViewBag.CurrentFilter, searchCheck = "true" }))
