@model PagedList.IPagedList<MSS_DEMO.Models.Student>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<br />
<h2>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")</h2>

<table class="table">
    <tr>
        <th>
           Student ID
        </th>
        <th>
           Student Name
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))