@model IEnumerable<MSS_DEMO.Models.Student_Specification_Log>
@{
    ViewBag.Title = "Detail";
    int stt = 1;
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Specialization Report", "Mentor", "Student_Specification_Log") 
    > Detail Class</span>
<br />
<br />
<div class="table-responsive text-nowrap">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Email
                </th>
                <th>
                    Specialization
                </th>
                <th>
                    Slug
                </th>
                <th>
                    Enrollment Time
                </th>
                <th>
                    Last Activity Time
                </th>
                <th>
                    Completed
                </th>
                <th>
                    Status
                </th>
                <th>
                    Program Slug
                </th>
                <th>
                    Program Name
                </th>
                <th>
                    Completion Time
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                var complete = item.Completed == true ? "Yes" : "No";
                var status = item.Status == true ? "Yes" : "No";
                var completeTime = item.Specialization_Completion_Time.ToString().Contains("1/1/1970") ? "" : item.Specialization_Completion_Time.ToString();
                string Specialization_Enrollment_Time = Convert.ToDateTime(item.Specialization_Enrollment_Time).ToString("dd/MM/yyyy");
                string Last_Specialization_Activity_Time = Convert.ToDateTime(item.Last_Specialization_Activity_Time).ToString("dd/MM/yyyy");
                <tr>
                    <td>
                        @(stt++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization_Slug)
                    </td>
                    <td>
                        @Specialization_Enrollment_Time
                    </td>
                    <td>
                        @Last_Specialization_Activity_Time
                    </td>
                    <td>
                        @complete
                    </td>
                    <td>
                        @status
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Program_Slug)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Program_Name)
                    </td>
                    <td>
                        @completeTime
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

