@model PagedList.IPagedList<MSS_DEMO.Models.Student_Specification_Log>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Specialization Report";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Specialization Report</span>
<hr />
<br />
@using (Html.BeginForm("DeleteAll", "Student_Specification_Log"))
{
    <p>
        <input type="submit" value="Clear All Data" />
    </p>
}
<br />
<div class="form-group">
    @using (Html.BeginForm("Index", "Student_Specification_Log", FormMethod.Get))
    {
        <div class="col-md-2">
            @Html.TextBox("SearchString", "", new { @class = "form-control", @placeholder = "Search With ID" })
        </div>
        <div class="col-md-2">
            <input class="btn btn-sm" type="submit" value="Search" />
        </div>
        <div class="col-md-6"></div>
    }
</div>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>
            ROLL
        </th>
        <th>
            Subject_ID
        </th>
        <th>
            Campus
        </th>
        <th>
            Specialization
        </th>
        <th>
            Specialization_Slug
        </th>
        <th>
            University
        </th>
        <th>
            Specialization_Enrollment_Time
        </th>
        <th>
            Last_Specialization_Activity_Time
        </th>
        <th>
            Completed
        </th>
        <th>
            Status
        </th>
        <th>
            Program_Slug
        </th>
        <th>
            Program_Name
        </th>
        <th>
            Specialization_Completion_Time
        </th>

        <th>
            Specification
        </th>


    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Roll)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Campus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Specialization)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Specialization_Slug)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.University)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Specialization_Enrollment_Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Last_Specialization_Activity_Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Completed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Program_Slug)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Program_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Specialization_Completion_Time)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Specification.Subject_ID)
    </td>


</tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))