@model MSS_DEMO.Models.SpecReportViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Specialization Report";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Report", "Report", "Home") > Specialization Report</span>
<hr />
@{
    var pagecount = Model.PageList.PageCount != 0 ? Model.PageList.PageCount : Model.PageList.PageCount;
    var pagenumber = Model.PageList.PageCount < Model.PageList.PageNumber ? 0 : Model.PageList.PageNumber;

    SelectList listCompleted = new SelectList((IList<string>)Model.listCompleted);
    SelectList listCompulsory = new SelectList((IList<string>)Model.listCompulsory);
    SelectList importedDate = new SelectList((IList<string>)Model.importedDate);

}
<div class="form-group">
    <div class="col-md-3">
        @Html.ActionLink("Import Specialization Report", "SpecializationReport", "ImportDataDaily")
    </div>
    <div class="col-md-3">

    </div>
</div>
<br />
@using (Html.BeginForm("Index", "Student_Specification_Log", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                                        @Html.Hidden("searchCheck", "true")
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Reported date</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownList("ImportedDate", importedDate, new { @name = "compulsoryCourse", @class = "form-control select" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Compulsory</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownList("compulsorySpec", listCompulsory, "--- All ---", new { @name = "compulsorySpec", @class = "form-control select" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Semester</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownList("Semester_ID", Model.lstSemester, new { @name = "compulsoryCourse", @class = "form-control select" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Subject</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownList("Subject_ID", Model.listSubject, "--- All ---", new { @name = "Subject_ID", @class = "form-control select" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Completed</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownList("completedSpec", listCompleted, "--- All ---", new { @name = "completedSpec", @class = "form-control select" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Campus</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownList("Campus", Model.lstCampus, "--- All ---", new { @name = "Campus", @class = "form-control select" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-success" type="submit"><i class="fa fa-search"></i>Search</button>
                </div>
            </div>
        </div>
    </div>
}
<span style="color: red;">@ViewBag.Nodata</span>
@if (Model.PageList.PageCount != 0)
{
    int stt = 1 + (pagenumber - 1) * Model.PageList.PageSize;
    <label>Showing  @ViewBag.CountLog results of @ViewBag.CountRoll students&emsp;&emsp; </label> <a href="" id="Export">Export</a>
    <div style="overflow-x: auto;" class="drag">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Subject ID
                        </th>
                        <th>
                            Campus
                        </th>
                        <th>
                            Specialization
                        </th>
                        <th>
                            Slug
                        </th>
                        <th>
                            University
                        </th>
                        <th>
                            Enrollment Time
                        </th>
                        <th>
                            Last Activity Time
                        </th>
                        <th>
                            Completed
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Program Slug
                        </th>
                        <th>
                            Program Name
                        </th>
                        <th>
                            Completion Time
                        </th>
                        <th>
                            Imported Date
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.PageList)
                    {

                        var complete = item.Completed == true ? "Yes" : "No";
                        var status = item.Status == true ? "Yes" : "No";
                        string date = Convert.ToDateTime(item.Date_Import).ToString("dd/MM/yyyy");
                        var completeTime = item.Specialization_Completion_Time.ToString().Contains("1/1/1970") ? "" : item.Specialization_Completion_Time.ToString();
                        string Specialization_Enrollment_Time = Convert.ToDateTime(item.Specialization_Enrollment_Time).ToString("dd/MM/yyyy");
                        string Last_Specialization_Activity_Time = Convert.ToDateTime(item.Last_Specialization_Activity_Time).ToString("dd/MM/yyyy");
                        <tr>
                            <td>
                                @(stt++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Campus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Specialization)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Specialization_Slug)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.University)
                            </td>
                            <td>
                                @Specialization_Enrollment_Time
                            </td>
                            <td>
                                @Last_Specialization_Activity_Time
                            </td>
                            <td>
                                @complete
                            </td>
                            <td>
                                @status
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Program_Slug)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Program_Name)
                            </td>
                            <td>
                                @completeTime
                            </td>
                            <td>
                                @date
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}
@Html.PagedListPager(Model.PageList, page => Url.Action("Index",
 new
 {
     page,
     Email = Model.Email,
     ImportedDate = Model.ImportedDate,
     compulsorySpec = Model.compulsorySpec,
     completedSpec = Model.completedSpec,
     Subject_ID = Model.Subject_ID,
     Semester_ID = Model.Semester_ID,
     Campus = Model.Campus,
     searchCheck = "true"
 }))
@Html.Hidden("model", Model);
<script>
    $(function () {
        $("#Export").click(function () {
        var searchCheck = $("#searchCheck").val() || "1";
        var Campus = $("#Campus").val() || "2";
        var Semester_ID = $("#Semester_ID").val() || "3";
        var Subject_ID = $("#Subject_ID").val() || "4";
        var completedSpec = $("#completedSpec").val() || "5";
        var compulsorySpec = $("#compulsorySpec").val() || "6";
        var ImportedDate = $("#ImportedDate").val() || "7";
        var Email = $("#Email").val() || "8";
        var list = searchCheck + "^" +Campus + "^"+ Semester_ID  + "^"+ Subject_ID +  "^" +completedSpec + "^"+ compulsorySpec  + "^"+ ImportedDate +"^"+ Email;
            $.ajax(
                {
                    url: '@Url.Action("Export", "Student_Specification_Log")',
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    data: { check : list},
                    type: "GET",
                    success: function (data) {
                    window.location.href = "@Url.RouteUrl(new
                    { Controller = "Student_Specification_Log", Action = "Export" })/?check=" + list;
              
                }
            });

        });
    });
    
    var mx = 0;

    $(".drag").on({
        mousemove: function (e) {
            var mx2 = e.pageX - this.offsetLeft;
            if (mx) this.scrollLeft = this.sx + mx - mx2;
        },
        mousedown: function (e) {
            this.sx = this.scrollLeft;
            mx = e.pageX - this.offsetLeft;
        }
    });

    $(document).on("mouseup", function () {
        mx = 0;
    });
</script>