@model PagedList.IPagedList<MSS_DEMO.Models.Student_Specification_Log>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Specialization Report";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Specialization Report</span>

@using (Html.BeginForm("DeleteAll", "Student_Specification_Log"))
{
    <p>
        <input type="submit" value="Clear All Data" hidden />
    </p>
}
        @using (Html.BeginForm("Index", "Student_Specification_Log", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Email</label>
                                            <div class="col-md-9 col-xs-12">
                                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                                                @Html.Hidden("searchCheck", "true")
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Date Import</label>
                                            <div class="col-md-9 col-xs-12">
                                                @Html.TextBox("dateImport", ViewBag.DateFilter as string, new { @class = "form-control", @type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Search by</label>
                                            <div class="col-md-9 col-xs-12">
                                                @Html.DropDownList("SelectString", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                            @Html.Hidden("SelectPage", ViewBag.SelectPage as string)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <button class="btn btn-success" type="submit"><i class="fa fa-search"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>

        }
@if (Model.PageCount != 0)
{
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Campus
                    </th>
                    <th>
                        Specialization
                    </th>
                    <th>
                        Slug
                    </th>
                    <th>
                        University
                    </th>
                    <th>
                        Enrollment Time
                    </th>
                    <th>
                        Last Activity Time
                    </th>
                    <th>
                        Completed
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Program Slug
                    </th>
                    <th>
                        Program Name
                    </th>
                    <th>
                        Completion Time
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    var complete = item.Completed == true ? "Yes" : "No";
                    var status = item.Status == true ? "Yes" : "No";
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Campus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization_Slug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.University)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization_Enrollment_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Last_Specialization_Activity_Time)
                        </td>
                        <td>
                            @complete
                        </td>
                        <td>
                            @status
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Program_Slug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Program_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization_Completion_Time)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    var pagecount = Model.PageCount != 0 ? Model.PageCount : Model.PageCount;
    var pagenumber = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}
@Html.PagedListPager(Model, page => Url.Action("Index",
 new { page, currentFilter = ViewBag.CurrentFilter, dateFilter = ViewBag.DateFilter, SelectFilter = ViewBag.SelectPage, searchCheck = "true" }))
<script>
    $(document).ready(function () {
        var x = $("#SelectString").val();
        $("#SelectPage").val(x);
    });
</script>