@model MSS_DEMO.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details Subject</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subject_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Subject_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
