@model PagedList.IPagedList<MSS_DEMO.Models.Subject>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Subject";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Setup for the new semester", "Index", "SetupBeginSemester") > Subject</span>
<hr />
<div class="form-group">
    @using (Html.BeginForm("Index", "Subjects", FormMethod.Get))
    {
        <div class="col-md-2" style="width: 7%; padding:0">
            Subject ID:
        </div>
        <div class="col-md-2">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            @Html.Hidden("searchCheck", "true")
        </div>
        <div class="col-md-2" style="width: 20%;">
            &ensp;&ensp;&ensp; Show active subjects only:
        </div>
        <div class="col-md-1" style="padding:0">
            @{
                bool check = ViewBag.checkActivePage;
            }
            @Html.CheckBox("checkActive", check)
        </div>
        <div class="col-md-1">
            <input class="btn btn-success" type="submit" value="Search" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Add New", "Create")
        </div>
        <div class="col-md-5"></div>
    }
</div>
<br />
<br />
<span style="color: red;">@ViewBag.Nodata</span>
@if (Model.PageCount != 0)
{
    var pagecount = Model.PageCount != 0 ? Model.PageCount : Model.PageCount;
    var pagenumber = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
     int stt = 1 + (pagenumber -1) * Model.PageSize;
<label>Showing @ViewBag.Count results</label>
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width:50px;">No</th>
            <th>
                Subject ID
            </th>
            <th>
                Subject Name
            </th>
            <th>
                Active
            </th>
        </tr>

        @foreach (var item in Model)
        { var active = item.Subject_Active == true ? "Yes" : "No";
    <tr>
        <td>@(stt++)</td>
        <td>
            @Html.ActionLink(item.Subject_ID, "Details", new { id = item.Subject_ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject_Name)
        </td>
        <td>
           @active
        </td>

    </tr>
        }

    </table>

    
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}

@Html.PagedListPager(Model, page => Url.Action("Index",
   new { page, currentFilter = ViewBag.CurrentFilter, searchCheck = "true", checkActivePage = ViewBag.checkActivePage }))