@model PagedList.IPagedList<MSS_DEMO.Models.Subject>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Subject";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Setup for the new semester", "Index", "SetupBeginSemester") > Subject</span>
<hr />
<div class="form-group">
    @using (Html.BeginForm("Index", "Subjects", FormMethod.Get))
    {
        <div class="col-md-2" style="width: 11.666667%;">
            Subject name:
        </div>
        <div class="col-md-2">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control"})
            @Html.Hidden("searchCheck", "true")
        </div>
        <div class="col-md-1">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Add New", "Create")
        </div>
        <div class="col-md-5"></div>
    }
</div>
<br />
<br />
<span style="color: red;">@ViewBag.Nodata</span>
@if (Model.PageCount != 0)
{
    var pagecount = Model.PageCount != 0 ? Model.PageCount : Model.PageCount;
    var pagenumber = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
     int stt = 1 + (pagenumber -1) * Model.PageSize;
    <label>Total of the records: @ViewBag.Count</label>
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width:50px;">No</th>
            <th>
                Subject ID
            </th>
            <th>
                Subject Name
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@(stt++)</td>
                <td>
                    @Html.ActionLink(item.Subject_ID, "Details", new { id = item.Subject_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject_Name)
                </td>

            </tr>
        }

    </table>

    
    <label>Page </label> @pagenumber <label> of </label> @pagecount
}

@Html.PagedListPager(Model, page => Url.Action("Index",
   new { page, currentFilter = ViewBag.CurrentFilter, searchCheck = "true" }))