@model IEnumerable<MSS_DEMO.Models.Subject>

@{
    ViewBag.Title = "Subject";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home")>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")>Subject</span>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Subject_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Subject_ID })
            </td>
        </tr>
    }

</table>
