@using MSS_DEMO.Common
@{
    ViewBag.Title = "Home";
}
<meta name="viewport" content="width=device-width" />
@{
    var session = (UserLogin)Session[MSS_DEMO.Common.CommonConstants.User_Session];
}
@{
    var RoleSession = (RoleLogin)HttpContext.Current.Session[CommonConstants.ROLE_Session];
    int Role = RoleSession.Role;
}
<br />
@{
    if (Role == 4)
    {

        <h5> @Html.ActionLink("Campus", "Index", "Campus") </h5>
        <hr />
        <h5>@Html.ActionLink("Setup for the new semester", "Index", "SetupBeginSemester")</h5>
        <hr />
        <h5>@Html.ActionLink("Report", "Report", "Home")</h5>
        <hr />
        <h5>@Html.ActionLink("User Management", "Index", "User_Role")</h5>

    }
    else if (Role == 1)
    {
        <h5>@Html.ActionLink("User Management", "Index", "User_Role")</h5>
        <hr />
        <h5>@Html.ActionLink("Login AS", "Index", "LoginAs")</h5>
    }
    else if (Role == 3)
    {
        <h5>@Html.ActionLink("Usage Report", "Mentor", "Student_Course_Log")</h5>
        <hr />
        <h5>@Html.ActionLink("Specialization Report", "Mentor", "Student_Specification_Log")</h5>
    }
    else if (Role == 2)
    {
        <h5>@Html.ActionLink("Report", "Report", "Home")</h5>
    }
    else
    {
        <h5>@Html.ActionLink("Certificates", "Index", "Certificates")</h5>
    }
}
<hr />
<h5>@Html.ActionLink("Clean Data System", "Index", "CleanSystem")</h5>


