
@{
    ViewBag.Title = "Home";
}
<br />
<h5>@Html.ActionLink("Campus", "Index", "Campus")</h5>
<hr />
<h5>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")</h5>
<hr />
<h5>@Html.ActionLink("Usage Report", "Index", "Student_Course_Log")</h5>
<hr />
<h5>@Html.ActionLink("Specialization Report", "Index", "Student_Specification_Log")</h5>
<hr />
<h5>@Html.ActionLink("Report", "Index", "Report")</h5>
