
@{
    ViewBag.Title = "Home";
}
<br />
<h2>@Html.ActionLink("Campus", "Index", "Campus")</h2>
<hr />
<h2>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")</h2>
<hr />
<h2>@Html.ActionLink("Usage Report", "Index", "Student_Course_Log")</h2>
<hr />
<h2>@Html.ActionLink("Specialization Report", "Index", "Student_Specification_Log")</h2>
<hr />
<h2>@Html.ActionLink("Report", "Index", "Report")</h2>
