@model MSS_DEMO.Models.Campu

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Campus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Campus_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Campus_ID, new { htmlAttributes = new { @class = "form-control", @required ="true"} })
                <label style="color:red" id="checkID" hidden> This field is a required </label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Campus_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Campus_Name, new { htmlAttributes = new { @class = "form-control", @required ="true" } })
                <label style="color:red" id="checkName" hidden> This field is a required </label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @required ="true" ,@style = "max-width: 800px;, width:800px;"} })
                <label style="color:red" id="checkAddress" hidden> This field is a required </label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_Point, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact_Point, new { htmlAttributes = new { @class = "form-control", @required ="true" } })
                <label style="color:red" id="checkContact" hidden> This field is a required </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btn" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<span style="color:red;">@ViewBag.Error</span>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
