@model MSS_DEMO.Models.Campu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campus_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campus_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Point)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Campus_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
