@model MSS_DEMO.Models.Campu

@{
    ViewBag.Title = "Details";
}

<h2>Details Campus</h2>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Campus Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campus_Name)
        </dd>

        <dt>
           Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Contact Point
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Point)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Campus_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Campus_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
