@model IEnumerable<MSS_DEMO.Models.Campu>

@{
    ViewBag.Title = "Campus";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Campus</span>
<hr/>
<h5>Campus</h5>
@{ 
    int stt = 1;
}
<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>No</th>
        <th>
            Campus ID
        </th>
        <th>
            Campus Name
        </th>
        <th>
            Address
        </th>
        <th>
           Contact Point
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@(stt++)</td>
    <td>
        @Html.ActionLink(item.Campus_ID, "Details", new { id = item.Campus_ID })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Campus_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contact_Point)
    </td>
</tr>
    }

</table>
