@model IEnumerable<MSS_DEMO.Models.Campu>

@{
    ViewBag.Title = "Campus";
}
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Campus</span>
<hr/>
<h5>Campus</h5>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Campus_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_Point)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Campus_Name, "Details", new { id = item.Campus_ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Point)
            </td>
        </tr>
    }

</table>
