@model MSS_DEMO.Models.Semester

@{
    ViewBag.Title = "Edit";
    string dateEnd = Convert.ToDateTime(Model.End_Date).ToString("dd/MM/yyyy");
    string dateStart = Convert.ToDateTime(Model.Start_Date).ToString("dd/MM/yyyy");
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<h2>Edit Semester</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Semester_ID)

    <div class="form-group">
        <label class="control-label col-md-2">Semester Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Semester_Name, new { htmlAttributes = new { @class = "form-control", @required = "true", @maxlength = "100" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Start Date</label>
        <div class="col-md-10">
            <input name="Start_Date" id="Start_Date" class="form-control datepicker" required autocomplete="off" value="@dateStart" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">End Date</label>
        <div class="col-md-10">
            <input name="End_Date" id="End_Date" class="form-control datepicker" required autocomplete="off" value="@dateEnd" />
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btn" type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<span style="color:red;">@ViewBag.Error</span>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy'
    });
</script>