
@{
    ViewBag.Title = "Setup Begin Semester";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Setup for the new semester</span>
<hr />
<h4>Setup for the new semester</h4>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink(" Semesters management", "Index", "Semesters")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink(" Subjects management", "Index", "Subjects")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink(" Specifications management", "Index", "Specifications")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink(" Courses management", "Index", "Courses")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink(" Student management", "Index", "Students")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink(" Courses deadline management", "Index", "Course_Deadline")</h5>
<br />


