
@{
    ViewBag.Title = "Index";
}
<h1>Setup the beginning of the semester</h1>
<h2>@Html.ActionLink("Add Semesters", "Index", "Semesters")</h2>
<h2>@Html.ActionLink("Add Subjects", "Index", "Subjects")</h2>
<h2>@Html.ActionLink("Add Specifications", "Index", "Specifications")</h2>
<h2>@Html.ActionLink("Add Courses", "Index", "Courses")</h2>
<h2>@Html.ActionLink("Import Student", "Index", "ImportStudent")</h2>




