
@{
    ViewBag.Title = "Setup Begin Semester";
}
<br />
    <span>@Html.ActionLink("Home", "Index", "Home")>SetupBeginSemester</span>
<hr />
<h1>Setup the beginning of the semester</h1>
<hr />
<h2>@Html.ActionLink("Add Semesters", "Index", "Semesters")</h2>
<hr />
<h2>@Html.ActionLink("Add Subjects", "Index", "Subjects")</h2>
<hr />
<h2>@Html.ActionLink("Add Specifications", "Index", "Specifications")</h2>
<hr />
<h2>@Html.ActionLink("Add Courses", "Index", "Courses")</h2>
<hr />
<h2>@Html.ActionLink("Add Student", "Index", "Students")</h2>
<hr />




